Django
psycopg2 # для подключения к постгре
djangorestframework
djangorestframework-simplejwt
django-summernote # текстовой редактор
django-allauth
pillow # для работы с изображениями

# for jupyter notebook
django-extensions
jupyter
ipython
