{% extends 'blog/index.html' %}
{% load static %}


{% block content %}
<div class="col-md-8">
    <h1 class="my-4">Page Heading
        <small>Secondary Text</small>
    </h1>
    <!-- Blog Post -->
    {% for blog in blogs %}
    <div class="card mb-4">
        <img class="card-img-top" width="200" height="500" src="{{ blog.poster.url }}" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title">{{ blog.title }}</h2>
            <p class="card-text">{{ blog.content | truncatewords:60 | safe }}</p>
            <a href="{{ blog.get_absolute_url }}" class="btn btn-primary">Read More</a>
        </div>
        <div class="card-footer text-muted">
            {{ blog.publish | date:"d M Y" }}
            <a href="#">{{ blog.author }}</a>
        </div>
    </div>
    {% endfor %}

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>


    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                {% for post in posts %}
                <p>{{ post.id}} - {{ post.title }} - {{ post.slug }} - {{ post.publish}} - Draft: {{ post.draft }}</p>

                <a href="{{ post.get_absolute_url }}">{{ post.title}}</a>
                <p> {{ post.content | safe | truncatewords:100}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
