{% extends "layer.html" %}
{% load static %}
{% load i18n %}
{% block title %} Profile {{ first_name }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
<hr>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10"><h1>{{ email }}</h1></div>
        <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image"
                                                                       class="img-circle img-responsive"
                                                                       src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"><!--left col-->
            <div class="text-center">
                {% if profile.image %}
                <img src="{{ profile.image}}" class="avatar img-circle img-thumbnail" alt="avatar">
                {% else %}
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"
                     alt="avatar">
                {% endif %}
                {% if email == user.email %}
                <h6>Upload a different photo...</h6>
                <form action="{{ profile.get_image_upload_url }}" enctype="multipart/form-data" id="id_ajax_upload_form"
                      method="POST" novalidate="">
                    {% csrf_token %}
                    {{ upload_image_form.as_p }}
<!--                    <input type="submit"/>-->
                    <input type="submit" id="btn" value="Отправить" class="text-center center-block file-upload"/>
                </form>
                <input type="file" data-href="{{ profile.get_image_upload_url }}" data-csrf="{{ csrf_token }}"
                       class="text-center center-block file-upload" id="id_avatar">
                {% endif %}
            </div>
            </hr><br>

            {% include 'account/profile/panel_website.html' %}
            {% include 'account/profile/panel_activity.html' %}
            {% include 'account/profile/panel_social.html' %}
        </div><!--/col-3-->
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a data-toggle="tab" class="nav-link active" href="#home">Home</a></li>
                {% if email == user.email %}
                <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#messages">Messages</a></li>
                <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#settings">Settings</a></li>
                {% endif %}
            </ul>
            <div class="tab-content">
                {% include 'account/profile/main_profile_page.html' %}
                {% include 'account/profile/messages_menu.html' %}
                {% include 'account/profile/settings_menu.html' %}
            </div><!--/tab-pane-->
        </div><!--/tab-content-->

    </div><!--/col-9-->
</div><!--/row-->
{% endblock %}

{% block scripts %}
<script>
    var user = "{{ user }}"
    var website = "{{ profile.website }}"
</script>
{% endblock %}

{% block jquery %}
$.getScript('{% static 'profileuser/js/profile.js' %}');
$.getScript('{% static 'profileuser/js/avatar.js' %}');
{% endblock %}
